h1
{
  color: skyblue;
}
body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA48jRaCFqrkJijZOq-XhogEyBvX13d2aALZmKXutYI8kB_rqB");
  background-size: cover;
  background-repeat: no-repeat;
}